# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/.env

/src/components/User.jsx
/src/components/API.jsx
/src/components/Gridcss.jsx
/src/components/Navbar.jsx
/src/components/NestedGrid.jsx

/src/styles/navbar.css
/src/styles/gridflex.css

/src/MenuItem.jsx
/src/MenuToggle.jsx
/src/Navigation.jsx



# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
